body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans Narrow";
}

.item-header, .index-content-title {
  font-size: 30px;
  line-height: 42px;
}

.fullcard-composition h2 {
  font-size: 24px;
  line-height: 30px;
}

html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0, 0, 255, 0.1);
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 600px;
  min-height: 70px;
  background-color: rgba(0, 255, 0, 0.5);
}

.header-logo {
  float: left;
  width: 160px;
  min-height: 70px;
  background-color: rgba(255, 0, 0, 0.5);
}

.main-navigation li {
  display: inline-block;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
  background-color: rgba(0, 0, 255, 0.5);
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

.breadcrumbs li {
  display: inline-block;
}

.filter-container {
  float: left;
  width: 200px;
  margin-right: 0px;
  background-color: rgba(0, 255, 0, 0.5);
}

.item-cards {
  float: right;
  width: 730px;
  background-color: rgba(255, 0, 0, 0.5);
}

.item-card {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 255, 0.5);
}

.item-cards-nav {
  width: 730px;
  float: right;
  background-color: rgba(255, 255, 0, 0.5);
}

.item-cards-nav li {
  display: inline-block;
}

.fullcard {
  width: 940px;
  background-color: rgba(255, 255, 0, 0.2);
}

.fullcard-gallery {
  float: left;
  width: 460px;
  background-color: rgba(255, 0, 0, 0.5);
}

.fullcard-content {
  float: right;
  width: 400px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: rgba(0, 255, 0, 0.5);
}

.fullcard-composition {
  float: right;
  width: 400px;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.5);
}
